@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;padding: 0%;
}
body{
    
    font-family: "Poppins", sans-serif; 
}

html{
    scroll-behavior: smooth;/*to set scroll instead of instant teleporting*/
}
img{
    width: 50vh;
    border-radius: 50%;
}
ul.nav-bar{
    align-items: center;
    display: flex;
    flex-direction: row;
}
li{
    margin: 0 auto;
    padding-left: 20%;
    list-style-type: none;
    align-items: center;
}
nav{
    display: flex;
    align-items: center; 
    height: 17vh;
    justify-content: space-around;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    
}

body{
    width: 95vw;
    margin: 0 auto;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5vw 5vw;
}
.name{
font-size: 5vh;
align-items: center;
}

div.name{
    margin: 0 ;
}